// COLORS
$special-text-color: #ffffff
$special-icon-color: #878a96
$special-background-color: #0f407b

$primary-text-color: #1e1f25
$primary-background-color: #fafafa

$secondary-text-color: #878a96
$secondary-background-color: #ffffff
