// OTHER
$font-family: sans-serif

// COLORS
$special-text-color: #ffffff
$special-icon-color: #cbccd2
$special-background-color: #0f407b

$green-text-color: #35cf94

$primary-text-color: #1e1f25
$primary-background-color: #fafafa

$secondary-text-color: #878a96
$secondary-background-color: #ffffff
