// HEADER STYLING
.top-content
	display: grid
	height: 84.5px
	font-size: 20px
	padding: 25px 10px
	align-items: center
	grid-template-columns: 1fr 2fr 1fr

	a
		width: fit-content

	& div
		height: 30px

	&__title
		text-align: center
		letter-spacing: 2px

	&__back, &__sidebar
		height: 30px
		cursor: pointer

	&__settings
		height: 30px
		cursor: pointer
		margin-left: auto
