// USES
@use "./_colors.sass" as var

// BROWSER RESETS
*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: var.$font-family
	color: var.$primary-text-color

body
	width: 100dvw
	height: 100dvh

img, svg
	width: auto
